<% provide(:title, "ACCESS") %>
<div class="pagetitle">
  <p>ACCESS</p></div>
  <div class="accessbox" >
    <h1>MOSTRO LOUNGE</h1>
    <h2>105-0011 東京都港区芝公園４丁目２−８</h2>
    <h3>大江戸線	赤羽橋駅徒歩5分<br>東急バス	東京タワーバス停徒歩1分<br>首都高速都心環状線芝公園出口より7分</h3>
    <h3>Tel 00-0000-0000<br>Fax 00-0000-000</h3>
    <h2>Lunch 11:30 ～ 14:30（L.O14:00)<br>Dinner 17:00 ～ 21:30（L.O20:30）</h2>
    <h4>定休日：月曜日（月曜日が祝日の場合は翌日の火曜日)</h4>
  </div>
<div class="ggmap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.7479754683745!2d139.7432442152582!3d35.65858048019946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bbd9009ec09%3A0x481a93f0d2a409dd!2z5p2x5Lqs44K_44Ov44O8!5e0!3m2!1sja!2sjp!4v1603793334999!5m2!1sja!2sjp" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
