<% provide(:title, "Home") %>
<html>
  <body>
    <div class="container"">
      <div class="Tphoto1">
        <%= image_tag("top.jpg", alt: "TOP画像", width: "100%") %>
        <div class="Tmoji1">
          <h1>贅沢食材が五感を満たすシーフードレストラン</h1>
          <h2>Mostro Lounge</h2>
        </div>
      </div>
      <div class="Tmoji2">
        <p>千葉産の伊勢海老に、三陸産の黒アワビ、そして気仙沼産のフカヒレ。<br>
            シーフードレストランと名乗るように、<br>
            ここでは全国から選りすぐりの素材を使った、逸品料理をご堪能頂けます。
        </p>
      </div>
      <div class="Tmoji3">
        <h1>NEWS</h1>
          <a href="info.html#info1">2020/07/31  営業時間変更のご案内</a><hr width="70%">
          <a href="info.html#info2">2020/05/12  さくらんぼフェスタ</a><hr width="70%">
          <a href="info.html#info3">2019/12/29  年末年始のご案内</a><hr width="70%">
      </div>
    </div>
  </body>
</html>
