<% provide(:title, "INFO") %>
<html>
  <div class="info-message">
    <div class="infobox1">
      <h1>INFORMATION</h1>
      <section>
        <div class="infobox2">
          <div class="infobox3">
            <h1>更新日:2020/07/31</h1>
            <a id="info1">営業時間変更のご案内</a><hr>
            <h3>コロナウイルス感染拡大に伴い9月15日（火）まで以下の通り営業時間を変更させていただきます。</h3>
            <h3>ランチ　　11:00〜14:00（L.O. 13:30）<br>ディナー　17:00〜20:00（L.O. 19:30）</h3>
            <h3>お客様には、大変ご迷惑をお掛けいたしますが よろしくお願い致します。</h3>
          </div>
          <div class="infobox3">
            <h1>更新日:2020/05/12</h1>
            <a id="info2">さくらんぼフェスタ</a><hr>
            <h3>6月19〜21日限定販売します‼️<br>佐藤錦を使った贅沢なタルトです。<br>是非、ご賞味ください。</h3>
            <%= image_tag("info/さくらんぼケーキ.jpg", alt: "ケーキ画像", width: "40%", height: "50%", class: "img-right") %>
          </div>
          <div class="infobox3">
            <h1>更新日:2019/12/29</h1>
            <a id="info3">年末年始のご案内</a><hr>
            <h3>日頃、当店をお利用いただき誠にありがとうございます。<br>年末年始の営業は下記の通りになります。</h3>
            <h3>１２月３１(火)〜１月３日(金)まで休業させていただきます。</h3>
            <h3>本年は、ご愛顧いただき誠にありがとうございました。来年もよろしくお願い致します。</h3>
          </div>
        </div>
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next<</a></li>
          </ul>
      </section>
    </div>
  </div>
</html>
