<% provide(:title, "Menu") %>
<html>
  <div class="menutop">
    <div class="manupage">
      <main>
        <a href="#title1" class="column">肉・魚料理</a>
        <a href="#title2" class="column">サラダ・スープ</a>
        <a href="#title3" class="column">パスタ</a>
        <a href="#title4" class="column">ドリンク</a>
        <a href="#title5" class="column">デザート</a>
        <a href="#title6" class="column">ディナーコース</a>
      </main>
      <div class="menulist1">
        <div class="menutitle">
          <p align="left" id="title1">■肉・魚料理</p><hr width="70%" align="left">
        </div>
        <div class="box1" >
        </div>
      </div>
      <div class="menulist2">
        <div class="menutitle">
          <p align="left" id="title2">■サラダ・スープ</p><hr width="70%" align="left">
        </div>
        <div class="box1"></div>
      </div>
      <div class="menulist3">
        <div class="menutitle">
          <p align="left" id="title3">■パスタ</p><hr width="70%" align="left">
        </div>
        <div class="box1"></div>
      </div>
      <div class="menulist4">
        <div class="menutitle">
          <p align="left" id="title4">■ドリンク</p><hr width="70%" align="left">
        </div>
        <div class="box1"></div>
      </div>
      <div class="menulist5">
        <div class="menutitle">
          <p align="left" id="title5">■デザート</p><hr width="70%" align="left">
        </div>
        <div class="box1"></div>
      </div>
      <div class="menulist6">
        <div class="menutitle">
          <p align="left" id="title6">■ディナーコース</p><hr width="70%" align="left">
        </div>
        <div class="box1"></div>
      </div>
      <a href="#menutop">ページのトップへ戻る</a>
    </div>
  </div>
</html>
