<% provide(:title, "MESSAGE") %>
<html>
  <div class="pagetitle">
    <p>MESSAGE</div>
    <div class="messagebox">
      <h1>素材への徹底的なこだわり。<br>手間暇を惜しまず、心を込めてお作りします。</h1>
      <h2>モストロラウンジでは、こだわりぬいた食材を使って、ひとつひとつ丁寧にお作りしています。</h2>
      <h2>千葉産の伊勢海老、気仙沼産のフカヒレなど、厳しいプロの目で選び抜いた食材を使用し、<br>お客様に長く愛される味を心をこめてお作りしております。</h2>
    </div>
    <div class="personbox">
      <%= image_tag("message/顔写真.jpg", alt: "オーナー画像", width: "30%", height: "60%", class: "img-person", align: "left") %>
      <h1>MOSTRO LOUNGE｜オーナーシェフ田中太郎</h1>
      <h2>1968年 　神奈川県小田原市生まれ</h2>
      <h2>1984年　 東京調理製菓専門学校卒業</h2>
      <h2>1987年 　フランス「トリアノン・パレスホテル」で修業</h2>
      <h2>1993年　 イタリア「国立エナルク料理学校」で学修</h2>
      <h2>1999年　 帰国後、「Ristorante Al Porto」勤務</h2>
      <h2>2007年　 MOSTRO LOUNGEをオープン</h2>
    </div>
</html>
